html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

* {
    cursor: none;
}

body.show-cursor, body.show-cursor * {
    cursor: default !important;
}

button {
    border: none;
}

.playButton {
    background-color: rgb(135, 206, 250);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    /*transition: background-color 0.3s ease-in-out;*/
}

.playButton:hover {
    background-color: rgb(187, 252, 252);
}

.quitButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
}

.quitButton:hover {
    color: white;
}

.purchaseButton {
    background-color: rgb(255, 250, 0);
    color: black;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    /*transition: background-color 0.3s ease-in-out;*/
}

.purchaseButton:hover {
    background-color: rgb(255, 253, 188);
}

.upgradeItemButton {
    background-color: rgb(10, 25, 87);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    /*transition: background-color 0.3s ease-in-out;*/
}

.upgradeItemButton:hover {
    background-color: rgb(36, 58, 152);
}

